<div class="card border-primary mb-3" >
  <div class="card-header">
    <h2 class="text-center">Directores de Proyecto</h2> 
  </div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Directores de Proyecto</h5>

      <table class="table table-bordered table-striped">
          <thead>
            <th>Identificacion</th>
            <th>Nombres y Apellidos</th>
            <th>titulo</th>
            <th>Cargo laboral</th>
            <th>Rol</th>
            <th>Materias</th>
            <th>Fecha Final</th>
          </thead>
          <tbody>
              <tr *ngFor="let director of Director">
                <td>{{director.identificacion}}</td>
                <td>{{director.nombres_completo}}</td>
                <td>{{director.titulo}}</td>
                <td>{{director.docente_tipo_tiempo}}</td>
                <td>{{director.rol}}</td>
                <td>{{director.materias}}</td>
                <td>{{director.fecha}}
                </td>
                </tr>
          </tbody>
        
      </table>
    </div>
  </div>

 