
<div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    subir
  </button>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Archivo 1</h5>
       
<a href="#victorModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">X</a>
  
<!-- Modal / Ventana / Overlay en HTML -->
<div id="victorModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">¿Estás seguro?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
   
        </div>
    </div> 
</div>   
</div>
<div class="botones">
  <button type="button" class="btn btn-primary mod">Cargar</button>
<button type="button" class="btn btn-secondary mod">Cancelar</button>
</div>


  

  


  